[Unit]
Description=simple-script
Requires=network.target
After=network.target dropbear@.service
  
[Service]
Type=oneshot
Restart=no
ExecStart=/usr/bin/bootscript.sh
StandardOutput=tty
  
[Install]
WantedBy=multi-user.target